:host {
  z-index: 1;
}

.node-button {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgb(2, 2, 92);
  border: none;
  cursor: pointer;
  color: white;
  font-size: .7em;
  text-align: center;
}

.startNode {
  background-color: green;
}

.endNode {
  background-color: red;
}

.wall {
  background-color: gray;
}

.path {
  background-color: green;
}

.visited {
  opacity: .7;
}

.solid {
  background-color: gray;
}
